extends layout
block content
  h1= title
  - let yachtid = toShow._id
  - let yachtColor = toShow.Yacht_Color
  - let yachtYacht_Number = toShow.Yacht_Number
  - let yachtSizeof_Yacht = toShow.Sizeof_Yacht

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{yachtid}

  - let actionid = "/resource/yacht/" + yachtid
  form(id='yachtForm', action= actionid, method="PUT")
    div.form-group
      label.yachtAttr(for='Color') yacht Color
      input#Color(type='text', name='Color', value= yachtColor )
    div.form-group
      label.yachtAttr(for='Yacht_Number') yacht Yacht_Number
      input#Yacht_Number(type='number', name='Yacht_Number', value= yachtYacht_Number )
    div.form-group
      label.yachtAttr(for='Sizeof_Yacht') yacht Sizeof_Yacht
      input#Sizeof_Yacht(type='number', name='Sizeof_Yacht', value= yachtSizeof_Yacht )
    input(type="submit")

  script.
    document.forms['yachtForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error );
      });
    });
